* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  color: #ffffff;
  margin-top: 20px;
  font-weight: bold;
}

.nav-item {
  margin-left: 8px;
  font-weight: 500;
}
.nav-link {
  color: rgb(255, 255, 255) !important;
}

.nav-item:hover {
  background-color: #FF0000;
}
.header {
  background-image: url(pictures/IMG_3390.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 130vh;
  position: relative;
}
.navbar {
  background-color: rgba(150, 150, 150, 0.534);
}

.navbar-brand img {
  margin-left: 30px !important;
}

.text-container {
  position: absolute;
  bottom: 200px;
  color:#ffffff;
}

#services {
  background-color: #969696;
}

.container-py-5 {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: antiquewhite;
}


.short_info {
  margin-top: 30px;
}

footer {
  background-color: #000000;
  color: white;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 48%;
}

.footer-left-column {
  max-width: 400px;
}

.footer-logo {
  height: 50px;
  margin-bottom: 20px;
}

.footer-paragraph {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer-right-column {
  max-width: 300px;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav a {
  color: #555;
}

.footer-nav a:hover {
  color: #000000;
}

.footer-heading {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-nav a {
  text-decoration: none;
  padding: 5px;
  color: white;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}
.footer-nav a:hover {
  color: blue;
  transform: scale(1.2);
  border-bottom: 2px solid white;
}
